html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	-collapse: collapse;
	-spacing: 0;
}



	/* background: #FCD80A;
	background: -moz-linear-gradient(top, #FCD80A 0%, #111D4A 100%);
	background: -webkit-linear-gradient(top, #FCD80A 0%, #111D4A 100%);*/


body{

	background-color: #001113;
	font-size: 62.5%;
	font-family: font-family: 'Reem Kufi', sans-serif;
	border: 2px solid red;


}

header{

	display: flex;
	justify-content: space-between;

}


.nav{

	display: flex;
	align-content: center ;
	flex-direction: row;
	justify-content: end;
	margin:  3em;
	gap: 5em;

}



.nav a{


	text-decoration: none;
	font-family: 'Reem Kufi', sans-serif;
	color: white;
	font-size: 1.5rem;

}


header .name{
	padding: 2%;
	margin: 2%;
	font-size: 1.8rem;
	font-family: 'Reem Kufi', sans-serif;
	margin-top: 0;
	margin-left: 10%;
	color: white;

}







.Summary {

	display: flex;

	color: white;

justify-content: space-around;
border-bottom: 2px solid black;

gap: 3rem;

}


h1 {

font-size: 4rem;

font-family: 'Reem Kufi', sans-serif;

}


.Summary .name {



	margin-top: 10rem;
	

}


.Summary .short-bio {

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;




	margin-top: 2rem;
	font-size: 1.5rem;


	gap: 10%;
	



}

.short-bio h2{

	font-size: 2.5rem;

}







.title{

display: flex;


font-size: 1.5rem;
color: white;
font-family: 'Reem Kufi', sans-serif;


justify-content: center;
margin-top: 1.5rem;

}



.highlights{

	display: flex;

	margin: 5%;

}



img.highlight{


width: 70%;



}

.HL1{


	display: flex;

	justify-content: center;
	flex-direction: column;
	align-items: center;


	color: white;
	font-family: 'Reem Kufi', sans-serif;


	

}



.HL1 p{

	border: 2px solid red;

	margin: 2rem;

	font-size: 1rem;

}
